---
import ContactForm from "../components/ContactForm.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <div class="block text-center py-4">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Contáctanos</h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Contacta con nosotros para aclarar tus dudas o solicitar un presupuesto.</p>
    </div>    

    <ContactForm />
</Layout>