---
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Administración de fincas">  
        <section>
            <Carrousel titleStart={'Administración '} titleEnd={'de fincas'} text={'texto sobre administración de fincas'}/>
        </section>
        <section class="bg-white dark:bg-gray-900">
            <ContactBanner/>
        </section>
        <section>
            <ContactFormReact/>
        </section>
</Layout>