---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <article class="py-12 px-6 max-w-4xl mx-auto bg-white shadow-lg rounded-lg my-auto">
    <header class="mb-6 p-5 text-center">
      <h2 class="text-3xl font-semibold text-brand-blueFinca mb-4">Allgemeine Geschäftsbedingungen</h2>
      <meta name="description" content="Überprüfen Sie die Allgemeinen Geschäftsbedingungen für unsere Dienstleistungen in der Verwaltung von Immobilien und Ferienvermietungen." />
    </header>

    <section class="space-y-8 p-5">
      <p class="text-lg leading-relaxed">
        Willkommen bei unserem Unternehmen für Immobilienverwaltung und Ferienvermietungsmanagement. Nachfolgend finden Sie die Allgemeinen Geschäftsbedingungen für die Nutzung unserer Dienstleistungen. Durch die Nutzung unserer Dienste erklären Sie sich mit diesen Bedingungen einverstanden.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">1. Akzeptanz der Bedingungen</h2>
      <p class="text-lg leading-relaxed">
        Durch den Zugriff auf oder die Nutzung unserer Dienste erklären Sie sich mit diesen Bedingungen einverstanden. Wenn Sie mit einem Teil dieser Bedingungen nicht einverstanden sind, dürfen Sie unsere Dienste nicht nutzen.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">2. Angebotene Dienstleistungen</h2>
      <p class="text-lg leading-relaxed">
        Unser Unternehmen bietet Dienstleistungen in der Immobilienverwaltung, Ferienvermietung und zugehörige Beratungsdienste an. Wir übernehmen alle notwendigen Operationen, um sicherzustellen, dass die Immobilien effizient und professionell verwaltet werden.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">3. Verantwortung des Nutzers</h2>
      <p class="text-lg leading-relaxed">
        Als Nutzer unserer Dienste sind Sie dafür verantwortlich, genaue und wahrheitsgemäße Informationen bei der Buchung unserer Dienstleistungen bereitzustellen. Sie sind auch dafür verantwortlich, sicherzustellen, dass die Immobilien alle geltenden gesetzlichen Vorschriften erfüllen.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">4. Geistiges Eigentum</h2>
      <p class="text-lg leading-relaxed">
        Alle Inhalte und Materialien im Zusammenhang mit unseren Dienstleistungen, einschließlich Texte, Bilder, Logos und Marken, sind alleiniges Eigentum unseres Unternehmens oder seiner Lizenzgeber. Eine unbefugte Reproduktion ist verboten.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">5. Haftungsbeschränkung</h2>
      <p class="text-lg leading-relaxed">
        Wir haften nicht für direkte, indirekte, zufällige, besondere oder Folgeschäden, die aus der Nutzung oder der Unfähigkeit zur Nutzung unserer Dienste resultieren.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">6. Änderungen</h2>
      <p class="text-lg leading-relaxed">
        Wir behalten uns das Recht vor, diese Bedingungen jederzeit zu ändern. Alle Änderungen werden auf dieser Seite mit dem Datum der letzten Aktualisierung veröffentlicht.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">7. Kontakt</h2>
      <p class="text-lg leading-relaxed">
        Wenn Sie Fragen zu diesen Bedingungen haben, können Sie uns gerne über die auf unserer Kontaktseite verfügbaren Kanäle kontaktieren.
      </p>
    </section>
  </article>
</Layout>
