---
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alquileres vacacionales">
    <section class="bg-white">
        <Carrousel titleStart={'Gestión de alquileres '} titleEnd={'vacacionales'} text={'Texto sobre alquileres vacaciones'}/>
    </section>
    <section>
        <ContactBanner/>
    </section>
    <section>
        <ContactFormReact/>
    </section>
</Layout>