---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Cookie Policy - GestoFinca">
  <article class="py-12 px-6 max-w-4xl mx-auto bg-white shadow-lg rounded-lg my-auto">
    <header class="mb-6 p-5 text-center">
      <h2 class="text-3xl font-semibold text-brand-blueFinca mb-4">Cookie Policy</h2>
      <meta name="description" content="Check out our policy on the use of cookies on the GestoFinca website." />
    </header>

    <section class="space-y-8 p-5">
      <p class="text-lg leading-relaxed">
        At GestoFinca, we use cookies to enhance our users' browsing experience. This page aims to inform you about how and why we use cookies on our website.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">1. What are cookies?</h2>
      <p class="text-lg leading-relaxed">
        Cookies are small text files that are stored on the device you use to browse the website. These cookies allow the website to remember your actions and preferences for a certain period, so you don't have to set them up every time you visit.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">2. Types of cookies we use</h2>
      <ul class="list-inside list-disc text-lg leading-relaxed text-gray-700 mb-4">
        <li><strong>Necessary cookies:</strong> These cookies are essential for the website to function properly. Without them, we couldn’t offer some of the basic features of the site.</li>
        <li><strong>Performance cookies:</strong> These cookies allow us to count visits and traffic sources to measure and improve the performance of our website.</li>
        <li><strong>Functional cookies:</strong> These cookies allow the website to remember your choices (such as your username or language) to enhance the user experience.</li>
        <li><strong>Advertising cookies:</strong> These cookies are used to deliver more relevant ads to you and your interests. They are also used to limit the number of times you see an ad.</li>
      </ul>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">3. How to control cookies?</h2>
      <p class="text-lg leading-relaxed">
        You can manage cookies through your browser settings. Most browsers allow you to block or delete cookies, but keep in mind that some features of the website may not work correctly if you disable cookies.
      </p>
      <p class="text-lg leading-relaxed">
        If you would like more information on how to manage cookies, you can visit your browser’s help section or visit websites dedicated to cookie management.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">4. Consent</h2>
      <p class="text-lg leading-relaxed">
        By continuing to browse our website, you agree to the use of cookies in accordance with this policy. If you disagree with the use of cookies, we invite you to set your browser to reject cookies or stop using the site.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">5. Changes to the cookie policy</h2>
      <p class="text-lg leading-relaxed">
        We reserve the right to modify this cookie policy at any time. Any changes will be posted on this page with the date of the last update.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">6. Contact</h2>
      <p class="text-lg leading-relaxed">
        If you have any questions about our cookie policy, please feel free to contact us through the available means on our contact page.
      </p>
    </section>
  </article>
</Layout>
