---
import Carrousel from '../components/Carrousel.jsx'
import ContactFormReact from '../components/ContactFormReact';
import ServicesInfo from '../components/ServicesInfo.astro';
import Layout from '../layouts/Layout.astro';
import ContactBanner from '../components/ContactBanner.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="GestoFinca - Administradores de fincas">
	<div class="snap-y snap-mandatory">
		<div class="snap-start">
			<Carrousel client:load/>
		</div>
		<section class="snap-start">
			<ServicesInfo />
		</section>
		<ContactBanner />
		<section>
			<ContactFormReact client:load/>
		</section>
	</div>
</Layout>