---
import Carrousel from '../components/Carrousel.jsx'
import ContactFormReact from '../components/ContactFormReact';
import ServicesInfo from '../components/ServicesInfo.astro';
import Layout from '../layouts/Layout.astro';
import ContactBanner from '../components/ContactBanner.astro';
---

<Layout title="GestoFinca - Administradores de fincas">
	<div class="snap-y snap-mandatory">
		<div class="snap-start">
			<Carrousel text={'Gestionamos tu tranquilidad'} client:load/>
		</div>
		<section class="snap-start">
			<ServicesInfo />
		</section>
		<ContactBanner />
		<section class="my-4">
			<ContactFormReact client:load/>
		</section>
	</div>
</Layout>