---
import Layout from "../layouts/Layout.astro";
import edificio from '../assets/images/edificio1.webp';
import ServicesInfo from "../components/ServicesInfo.astro";
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
---

<Layout title="Nosotros">
    

    <section class="bg-white">
        <Carrousel  titleStart={'Quienes '} titleEnd={'Somos'} text={'Conócenos más texto'}/>
    </section>
    <div class="relative">
        <ServicesInfo />
    </div>
    <div>
        <ContactBanner />
        <ContactFormReact />
    </div>
  
</Layout>