---
import Carrousel from "../components/Carrousel";
import ContactBanner from "../components/ContactBanner.astro";
import ContactFormReact from "../components/ContactFormReact";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Presupuestos">
    <section class="bg-white">
        <Carrousel titleStart={'Solicita tu '} titleEnd={'presupuesto'} text={'texto sobre los presupuestos '}/>
    </section>
    <section>
        <ContactBanner/>
    </section>
    <ContactFormReact/>
</Layout>