---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Política de Cookies - GestoFinca">
  <article class="py-12 px-6 max-w-4xl mx-auto bg-white shadow-lg rounded-lg my-auto">
    <header class="mb-6 p-5 text-center">
      <h2 class="text-3xl font-semibold text-brand-blueFinca mb-4">Política de Cookies</h2>
      <meta name="description" content="Consulta nuestra política sobre el uso de cookies en el sitio web de GestoFinca." />
    </header>

    <section class="space-y-8 p-5">
      <p class="text-lg leading-relaxed">
        En GestoFinca, utilizamos cookies para mejorar la experiencia de navegación de nuestros usuarios. Esta página tiene como objetivo informarte sobre cómo y por qué utilizamos cookies en nuestro sitio web.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">1. ¿Qué son las cookies?</h2>
      <p class="text-lg leading-relaxed">
        Las cookies son pequeños archivos de texto que se almacenan en el dispositivo que usas para navegar por el sitio web. Estas cookies permiten al sitio web recordar tus acciones y preferencias durante un tiempo determinado, para que no tengas que volver a configurarlas cada vez que lo visites.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">2. Tipos de cookies que utilizamos</h2>
      <ul class="list-inside list-disc text-lg leading-relaxed text-gray-700 mb-4">
        <li><strong>Cookies necesarias:</strong> Estas cookies son esenciales para que el sitio web funcione correctamente. Sin ellas, no podríamos ofrecer algunas de las funcionalidades básicas del sitio.</li>
        <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten contar las visitas y las fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio web.</li>
        <li><strong>Cookies funcionales:</strong> Estas cookies permiten al sitio web recordar las elecciones que haces (como tu nombre de usuario o el idioma) para mejorar la experiencia de usuario.</li>
        <li><strong>Cookies de publicidad:</strong> Estas cookies se utilizan para ofrecer anuncios más relevantes para ti y tus intereses. También se utilizan para limitar la cantidad de veces que ves un anuncio.</li>
      </ul>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">3. ¿Cómo controlar las cookies?</h2>
      <p class="text-lg leading-relaxed">
        Puedes gestionar las cookies a través de la configuración de tu navegador. La mayoría de los navegadores permiten bloquear o eliminar cookies, pero ten en cuenta que algunas características del sitio web pueden no funcionar correctamente si desactivas las cookies.
      </p>
      <p class="text-lg leading-relaxed">
        Si deseas obtener más información sobre cómo gestionar las cookies, puedes visitar la sección de ayuda de tu navegador o visitar sitios web especializados en el control de cookies.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">4. Consentimiento</h2>
      <p class="text-lg leading-relaxed">
        Al continuar navegando por nuestro sitio web, aceptas el uso de cookies conforme a esta política. Si no estás de acuerdo con el uso de cookies, te invitamos a configurar tu navegador para rechazar las cookies o dejar de utilizar el sitio.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">5. Modificaciones a la política de cookies</h2>
      <p class="text-lg leading-relaxed">
        Nos reservamos el derecho de modificar esta política de cookies en cualquier momento. Cualquier cambio será publicado en esta página con la fecha de la última actualización.
      </p>

      <h2 class="text-2xl font-semibold text-brand-blueFinca">6. Contacto</h2>
      <p class="text-lg leading-relaxed">
        Si tienes alguna pregunta sobre nuestra política de cookies, no dudes en ponerte en contacto con nosotros a través de los medios disponibles en nuestra página de contacto.
      </p>
    </section>
  </article>
</Layout>
