---
import Image from "astro/components/Image.astro"
import logoadmin from '../assets/logos/imagen_logo.png'
---


<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-slate-200 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-brand-blueFinca">Gesto<span class="text-brand-greenFinca">Finca</span></h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-900">
          Cuidamos de tu propiedad, gestionamos tu tranquilidad.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <!-- OTRO Logo?? -->
          </button>
            <a href="/nosotros" class="items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <Image src={logoadmin} alt="GestoFinca" class="w-52 h-20" />
          </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Páginas</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/nosotros">Nosotros</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/administracion-fincas">Administración de fincas</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/alquileres-vacacionales">Alquileres vacacionales</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/presupuestos">Presupuestos</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Enlaces de interés</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/contacto">Contáctanos</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/">Terminos &amp; Condiciones</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/politica-de-privacidad">Política de privacidad</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="/">Uso de cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">2025</span>
          <a href="/" class="text-blueGray-500 hover:text-blueGray-800"> GestoFinca S.L</a>.
        </div>
      </div>
    </div>
  </div>
</footer>