---
import CardService from './CardService.astro'
import Vacation from '../assets/icons/vacation.svg'
import House from '../assets/icons/house.svg'
---

<section class="bg-slate-100 flex flex-row gap-4 justify-center m-4">
    <CardService title="Administración de comunidades" text="Gestión integral de comunidades de propietarios, con un trato personalizado y profesional." img={House} route="administracion-fincas"/>
    <CardService title="Gestión de alquileres vacacionales" text="Gestión integral de alquileres vacacionales. Aseguramos lo mejor para su huésped y su vivienda." img={Vacation} route="alquileres-vacacionales"/>
  </section>